
@{
    ViewBag.Title = "Index";
}

<h2>Welcome User!</h2>
<div class="container-fluid" style="display:flex;justify-content:center"> 
    <img src="~/img/download.png" class="img-fluid w-50 h-50" />
</div>

